body {
    background-color: white;
    border-style: solid;
  }
  a {
    text-decoration: none;
    color: black
  }
  a:hover {
    text-decoration: underline;
  }
  #navbar {
    font-size: 20px;
    text-align: center;
    top: 0;
    background-color: black;
    
  }
  nav a {
    font-weight: bold;
    padding: 10px 60px;
    color: white;
  }
  @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 6) 
  and (orientation: landscape) {
  #nav-bar {
    display: none;
  }
  }
  #content {
    background-color: aqua;
    padding: 20px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    padding: 30px;
  }
  h2 {
    text-align: center;
  }
  #about {
    padding: 10px;
    border-bottom: solid;
    text-align: center;
    margin: 100px;
    font-size: 20px;
  }
  
  #welcome-section {
    top: 0; 
  }