body {
  background-color: white;
  border-style: solid;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#navbar {
  font-size: 20px;
  text-align: center;
  top: 0;
  background-color: black;
  padding: 6px;
}
nav a {
  font-weight: bold;
  padding: 10px 60px;
  color: white;
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 6) and (orientation: landscape) {
  #nav-bar {
    display: none;
  }
}
#content {
  background-color: aqua;
  padding: 20px;
}
h1 {
  font-size: 30px;
  text-align: center;
  padding: 30px;
}
h2 {
  text-align: center;
}
#about {
  padding: 10px;
  border-bottom: solid;
  text-align: center;
  margin: 100px;
  font-size: 20px;
}
#about p {
  text-align: left;
}
#welcome-section {
  top: 0;
}
img:hover {
  opacity: 0.8;
  filter: alpha(opacity=50);
}
#col1 {
  width: 250px;
  float: left;
}
#col2outer {
  width: 610px;
  float: right;
  margin: 0;
  padding: 0;
}
